@model Quiron.LojaVirtual.Dominio.Entidade.Pedido

@{
    ViewBag.Title = "Quiron: Fechar o pedido";
}

<h2>Fechar o pedido</h2>

<p>Digite suas informações abaixo</p>


@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <h3>Enviar para</h3>

    <div class="form-group">
        <label>Nome do cliente:</label>
        @Html.TextBoxFor(x => x.NomeCliente, new { @class = "form-control" })
    </div>
    
    <h3>Dados para entrega</h3>

    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName != "NomeCliente" && property.PropertyName != "EmbrulhaPresente")
        {
            <div class="form-group">

                <label>
                    @(property.DisplayName ?? property.PropertyName)
                </label>

                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })

            </div>
        }
    }

    <h3>Opções</h3>
    <div class="checkbox">
        <label>
           @Html.EditorFor(x => x.EmbrulhaPresente)
            Embrulhar para presente?
        </label>
    </div>

    <input class="btn btn-primary" type="submit" value="Fechar o pedido"/>
}


<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<script>
    $(document).ready(function () {

        function limpa_formulario_cep() {
            $('#Endereco').val('');
            $('#Bairro').val('');
            $('#Cidade').val('');
            $('#Estado').val('');
        }

        $('#Cep').change(function (e) {
            e.preventDefault();

            limpa_formulario_cep();

            //Nova variável "cep" somente com dígitos.
            var cep = $(this).val().replace(/\D/g, '');

            if (cep != "")
            {
                //Expressão regular para validar o CEP.
                var validacep = /^[0-9]{8}$/;

                //Valida o formato do CEP.
                if (validacep.test(cep))
                {
                    //Preenche os campos com "..." enquanto consulta webservice.
                    $('#Endereco').val('...');
                    $('#Bairro').val('...');
                    $('#Cidade').val('...');
                    $('#Estado').val('...');

                    //Consulta o webservice viacep.com.br/
                    $.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {

                        if (!("erro" in dados)) {
                            //Atualiza os campos com os valores da consulta.
                            $("#Endereco").val(dados.logradouro);
                            $("#Bairro").val(dados.bairro);
                            $("#Cidade").val(dados.localidade);
                            $("#Estado").val(dados.uf);
                        } //end if.
                        else {
                            //CEP pesquisado não foi encontrado.
                            limpa_formulario_cep();
                            alert("CEP não encontrado.");
                        }
                    });
                }
                else
                {
                    //cep é inválido.
                    limpa_formulario_cep();
                    alert("Formato de CEP inválido.");
                }

            }

           
        });

    });

    
</script>